/* * {
    font-family: monospace;
  } */


  /* entire page font  */
  @import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:700|Roboto:100,300,700');

body {
    margin: 0;
    padding: 0;
    background-color: aquamarine;
    font-size: 14px;
}
h1 {
    color: pink;
    text-decoration: underline;
    font-weight:bolder;
    text-transform: uppercase;
    text-decoration: underline dotted;
    font-size: 7em;
  }
  p {
    color: gray;
    text-decoration: red wavy underline;
  }
  .section4{
    background-color: blue;
    width: 200px;
    height: 200px;
  }
  h2{
      font-size: 3.5em;
      align-items: center;
      text-transform: uppercase;
    color:white;
    text-shadow: #020819 8px -20px 9px;
  }
  h3{
      font-size: 4,3em;
      align-items: center;
      line-height: 1em;
  }
  h4{
      font-size: 2.5em;
      letter-spacing: 9px;
      line-height: 5em;
  }
  h5{
      font-size: 3em;
      line-height: 1em;
  }
  nav{
      background-color:rgb(25, 33, 41);
  }
  nav a {
      color: white;
      text-decoration: none;
      font-size: 2em;
  }
  header{
        background-image: url("https://s3-eu-west-1.amazonaws.com/ih-materials/uploads/ironhack-skydive-background.jpg");
        background-position: 0 0;
        background-repeat: no-repeat;
        background-size: cover;
        height: 650px;
  }